body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 20px;
}

.memsolo-faq {
  border: 2px solid #000;
  padding: 20px;
  margin-bottom: 10px;
}

.mem-vopros {
  display: block;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.mem-vopros:after {
  
}

.mem-text {
  display: none;
  margin-top: 20px;
  text-align: center;
}

.mem-text img {
  width: 100%;
  max-width: 500px;
}

.mem-text img:hover {
  transform: scale(1.1);
}

.mem-checkbox {
  appearance: none;
}

.mem-checkbox:checked ~ .mem-text {
  display: block;
}

@media screen and (max-width: 1024px) {
  body {
    padding: 0;
  }
  .memsolo-faq {
    padding: 10px;
  }
}
