body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 20px;
}

.memsolo-faq {
  border: 2px solid #000;
  padding: 20px;
  margin-bottom: 10px;
}

.mem-vopros {
  display: block;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0;
}

.mem-text {
    display: none;
}

.mem-checkbox {
  appearance: none;
}

.mem-checkbox:checked ~ .mem-text {
  display: block;
}
